<body class="bg-dark text-white">

  <% content_for :title, "Editing user" %>

  <h1>Editing user</h1>

  <%= render "form", user: @user %>

  <br>

  <div class="hstack gap-3">
    <%= link_to "Back to show this user", @user, class: "btn btn-primary" %>
    <%= link_to "Back to users", users_path, class: "btn btn-primary" %>
  </div>
</body>
