<body class="bg-dark text-white">

  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% content_for :title, "Users" %>

  <h1 class="text-primary"><strong>Users</strong></h1>

  <hr>

  <div id="users">
    <% @users.each do |user| %>
      <%= link_to user, class: "d-block text-white bg-dark border border-primary rounded p-3 mb-3 text-decoration-none" do %>
        <h5 class="mb-1 text-primary"><%= user.username %></h5>
        <p class="mb-1">
          <strong>Badges: </strong><%= user.badges %>
        </p>
      <% end %>
    <% end %>
  </div>
</body>
