<body class="bg-dark text-white">
  <% content_for :title, "Editing challenge" %>

  <h1>Editing challenge</h1>

  <%= render "form", challenge: @challenge %>

  <br>

  <div class="hstack gap-3">
    <%= link_to "Back to show this challenge", @challenge, class: "btn btn-warning" %>
    <%= link_to "Back to challenges", challenges_path, class: "btn btn-warning" %>
  </div>
</body>